<h1>Handige links</h1>
<mat-list>
  <mat-list-item><a color="accent" mat-raised-button href="https://github.com/studentportaal">Github repositories<mat-icon aria-hidden="false" svgIcon="thumbs-up"></mat-icon> </a></mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item><a color="accent" mat-raised-button href="https://travis-ci.org/studentportaal">Travis CI</a></mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item><a color="accent" mat-raised-button href="https://codeclimate.com/github/studentportaal/FrontEnd-Bijbaan">Codeclimate Front end</a></mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item><a color="accent" mat-raised-button href="https://codeclimate.com/github/studentportaal/BackEnd-Bijbaan">Codeclimate Back end</a></mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item><a color="accent" mat-raised-button href="https://fhict.instructure.com/groups/60864">Canvas groep</a></mat-list-item>
  <mat-divider></mat-divider>
 </mat-list>